@import "../../assets/scss/variables";

#pauseAudio{
    position:absolute;
    top:57px;
    left:230px;
}

#playAudio{
    position:absolute;
    top:57px;
    left:300px;
}

#controlsMain
{
    width: 500px;
    margin-left: 29px;
    z-index: 1;
}

#youtubeContainer {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    min-width: 700px;
}

#progress {
    width: 100%;
    background-color: grey;
    z-index: 1;
    height: 8px;
    opacity: 1;
    border-radius: 2px;
    cursor: pointer;
    position:relative;
  }
  #progress-bar {
    max-width: 100%;
    width: 0%;
    height: 8px;
    background-color: white;
    opacity: 1;
    z-index: 3;
    border-radius: 2px;
    cursor: pointer;
  }
  
  #title {
    z-index: 1;
    margin: 1rem 0;
    width: 100%;
    color: white;
    overflow: hidden;
    height: 35px;
  }
  
  #title-text {
    z-index: 1;
    color: white;
    animation: scrolling-text 16s linear infinite;
    font-size: 20px;
  }
  
  @keyframes scrolling-text {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  #controls {
    z-index: 1;
    align-items: center;
    color: white;
    margin-left: 4px;
    justify-content: center;
    display: flex;
    position: relative;
  }
  
  $control-size: 2.7rem;
  
  .control {
    z-index: 1;
    width: $control-size; height: $control-size;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    margin: 1px;
    transition: transform .3s, box-shadow .5s, text-shadow .5s;
    
    &:hover,
    &:focus {
      color: #fff;
      transform: scale(1.05);
      box-shadow: 0 0 8px rgba(0,0,0,.5);
      text-shadow: 0 0 8px rgba(0,0,0,.5);
    }
    
    &:active {
      transform: scale(.9);
      box-shadow: none;
      text-shadow: none;
    }

    :focus {
      outline: none;
      background: transparent;
    }
    
    .icon {
      font-size: $control-size;
    }
  }
  
  $controls-play-size: 4rem;
  
  #controls-play {
    z-index: 1;
    width: $controls-play-size; height: $controls-play-size;
    
    .icon {
      font-size: $controls-play-size;
    }
    
    .icon-pause {
      display: block;
    }

    .icon-play {
      display: none;
    }
}

.volume-level
{
  top: 57px;
  left: 45px;
  width: 60px;
  height: 6px;
  overflow: hidden;
  border: 1px solid #FFF;
  box-shadow: 0 1px 5px #000, inset 0 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all .3s;
  opacity: .75;
  margin-left: 10px;
  box-sizing: unset;
  border-radius: 2px;
}

.volume-level > em
{
  display: block;
  height: 6px;
  max-width: 100%;
  background: #FFF;
  box-shadow: 0 1px 5px #000;
}

.volume-level:hover { opacity: 1 }

#volume{
  font-size: 22px;
}

#volumeControl{
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

#volume{
  min-width: 25px;
  cursor: pointer;
}

#orderControls{
  display:flex;
  align-items: center;
}

#loopControl{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

#loopImg{
  width: 30px;
  height: 30px;
  opacity: 0.5;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }
}

#volume.fa-volume-off + .volume-level > em { display: none }

#currentTime{
  background: grey;
  position: absolute;
  top: -24px;
  display: none;
  color: white;
  font-size: 13px;
  padding: 0 3px 2px 3px;
  border-radius: 15px;
}
