
Backend/.vs/EmotionBasedMusicPlayer/v15/.suo
Backend/.vs/EmotionBasedMusicPlayer/v15/Server/sqlite3/storage.ide
Backend/.vs/EmotionBasedMusicPlayer/v15/Server/sqlite3/storage.ide-shm
Backend/.vs/EmotionBasedMusicPlayer/v15/Server/sqlite3/storage.ide-wal
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.Business.dll
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.Business.pdb
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.DAL.dll
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.DAL.pdb
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.Library.dll
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.Library.pdb
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.Models.dll
Backend/EmotionBasedMusicPlayer.Business/bin/Debug/EmotionBasedMusicPlayer.Models.pdb
Backend/EmotionBasedMusicPlayer.Business/obj/Debug/EmotionBasedMusicPlayer.Business.csproj.CoreCompileInputs.cache
Backend/EmotionBasedMusicPlayer.Business/obj/Debug/EmotionBasedMusicPlayer.Business.csprojAssemblyReference.cache
Backend/EmotionBasedMusicPlayer.Business/obj/Debug/EmotionBasedMusicPlayer.Business.dll
Backend/EmotionBasedMusicPlayer.Business/obj/Debug/EmotionBasedMusicPlayer.Business.pdb
Backend/EmotionBasedMusicPlayer.DAL/bin/Debug/EmotionBasedMusicPlayer.DAL.dll
Backend/EmotionBasedMusicPlayer.DAL/bin/Debug/EmotionBasedMusicPlayer.DAL.pdb
Backend/EmotionBasedMusicPlayer.DAL/bin/Debug/EmotionBasedMusicPlayer.Library.dll
Backend/EmotionBasedMusicPlayer.DAL/bin/Debug/EmotionBasedMusicPlayer.Library.pdb
Backend/EmotionBasedMusicPlayer.DAL/bin/Debug/EmotionBasedMusicPlayer.Models.dll
Backend/EmotionBasedMusicPlayer.DAL/bin/Debug/EmotionBasedMusicPlayer.Models.pdb
Backend/EmotionBasedMusicPlayer.DAL/obj/Debug/EmotionBasedMusicPlayer.DAL.csproj.CoreCompileInputs.cache
Backend/EmotionBasedMusicPlayer.DAL/obj/Debug/EmotionBasedMusicPlayer.DAL.csprojAssemblyReference.cache
Backend/EmotionBasedMusicPlayer.DAL/obj/Debug/EmotionBasedMusicPlayer.DAL.dll
Backend/EmotionBasedMusicPlayer.DAL/obj/Debug/EmotionBasedMusicPlayer.DAL.pdb
Backend/EmotionBasedMusicPlayer.Library/bin/Debug/EmotionBasedMusicPlayer.Library.dll
Backend/EmotionBasedMusicPlayer.Library/bin/Debug/EmotionBasedMusicPlayer.Library.pdb
Backend/EmotionBasedMusicPlayer.Library/ExtensionMethods.cs
Backend/EmotionBasedMusicPlayer.Library/obj/Debug/EmotionBasedMusicPlayer.Library.csproj.CoreCompileInputs.cache
Backend/EmotionBasedMusicPlayer.Library/obj/Debug/EmotionBasedMusicPlayer.Library.dll
Backend/EmotionBasedMusicPlayer.Library/obj/Debug/EmotionBasedMusicPlayer.Library.pdb
Backend/EmotionBasedMusicPlayer.Models/bin/Debug/EmotionBasedMusicPlayer.Models.dll
Backend/EmotionBasedMusicPlayer.Models/bin/Debug/EmotionBasedMusicPlayer.Models.pdb
Backend/EmotionBasedMusicPlayer.Models/obj/Debug/EmotionBasedMusicPlayer.Models.csproj.CoreCompileInputs.cache
Backend/EmotionBasedMusicPlayer.Models/obj/Debug/EmotionBasedMusicPlayer.Models.dll
Backend/EmotionBasedMusicPlayer.Models/obj/Debug/EmotionBasedMusicPlayer.Models.pdb
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.Business.dll
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.Business.pdb
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.DAL.dll
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.DAL.pdb
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.dll
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.dll.config
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.Library.dll
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.Library.pdb
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.Models.dll
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.Models.pdb
Backend/EmotionBasedMusicPlayer/bin/EmotionBasedMusicPlayer.pdb
Backend/EmotionBasedMusicPlayer/obj/Debug/EmotionBasedMusicPlayer.dll
Backend/EmotionBasedMusicPlayer/obj/Debug/EmotionBasedMusicPlayer.pdb
Backend/EmotionBasedMusicPlayer/obj/Debug/EmotionBasedMusicPlayer.WebAPI.csproj.CoreCompileInputs.cache
Backend/EmotionBasedMusicPlayer/obj/Debug/EmotionBasedMusicPlayer.WebAPI.csprojAssemblyReference.cache
Backend/EmotionBasedMusicPlayer/Web.config
