<div class="{{tracks.length > 0 ? 'bg-before' : ''}}"></div>
<div class="{{tracks.length > 0 ? 'bg' : ''}}"></div>

<carousel-component [margin]="140" [mode]="'horizontal'" class="style-carousel" (onSlideChange)="slideChange($event)" #carousel id="carousel">
  <div class="item-carousel" *ngFor="let track of tracks; let i = index">
          <!-- <img src="{{track?.Images[1]?.Url}}" (click)="goToSlide(i);"/> -->
          <main id="carouselItemMain">
            <img class="albumCover" src="{{track?.Images[0]?.Url}}"/>
          </main>

          <!-- <main *ngIf="i != currentIndex">
            <div id="albumCover"></div>
          </main> -->
  </div>
</carousel-component>
<app-music-player (endVideoEmitter)="nextSlide()" *ngIf="tracks?.length>0 && currentIndex>=0" [videoId]="tracks[currentIndex]?.VideoID"></app-music-player>

