<div class="{{tracks.length > 0 ? 'bg-before' : ''}}"></div>
<div class="{{tracks.length > 0 ? 'bg' : ''}}"></div>

<carousel-component [margin]="140" [mode]="'horizontal'" class="style-carousel" (onSlideChange)="slideChange($event)" #carousel id="carousel">
  <div class="item-carousel" *ngFor="let track of tracks; let i = index">
          <main id="carouselItemMain" (click)="goToSlide(i)">
            <img class="albumCover" src="{{track?.Images[0]?.Url}}"/>
          </main>
  </div>
</carousel-component>
<app-music-player #musicPlayer (videoEmitter)="onEventReceived($event)" *ngIf="tracks?.length>0 && currentIndex>=0" 
    [videoId]="tracks[currentIndex]?.VideoID" 
    [title]="tracks[currentIndex]?.Title"
    [artists]="tracks[currentIndex]?.Artists">
</app-music-player>

