
<div id="centerContainer">
    <div class="file-upload">
      <div id="fileButtons">
        <div class="file-btn" onclick="$('#inputImageId').trigger( 'click' )">Add Image</div>
        <div *ngIf="webcamAvailable" id="toggleWebcamBtn" class="file-btn" (click)="toggleWebcam()">Use webcam</div>
      </div>
        <div class="image-upload-wrap" >
          <input (change)="uploadImage($event.target.files)" class="file-upload-input" id="inputImageId" type="file" accept="image/*"/>
          <div *ngIf="!imageFile && !showWebcam" class="drag-text">
            <h3>Drag and drop image</h3>
          </div>
        </div>
        <div id="webcamContainer" *ngIf="!imageFile && showWebcam && webcamAvailable">
          <webcam id="webcam" [imageQuality]="1" 
          [trigger]="triggerObservable"
          (initError)="handleInitError($event)"
          (imageCapture)="handleImage($event)">
          </webcam>
          <i class="fas fa-camera" (click)="triggerSnapshot()"></i>
        </div>
          <div *ngIf="imageFile" class="file-upload-content">
            <div class="imageWrapper">
              <div id="removeImage" (click)="removeImage()">x</div>
              <img class="file-upload-image" src="{{imageFile}}" alt="your image" />
            </div>
          </div>
      </div>
      <span id="getRecommendationsBtn" class="pushButton" (click) = "getRecommendations()">Let there be music</span>
</div>