/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/variables";

html, body {
    height: 100%;
    overflow:hidden;
}

body
{
    background-color: $body-bg;
}

.navbar
{
    background-color: $navbar-bg !important;
    border-bottom: 1px solid #23282c !important;
}

::-webkit-scrollbar {
    background-color: $brand-darker;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $brand-dark;
    border-right: solid 2.5px $brand-darker;
    border-left: solid 2.5px $brand-darker;
}

iframe{
    position:absolute;
    top:0;
    width:0;
    height:0;
}