/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/variables";

body
{
    background-color: $body-bg;
}

.navbar
{
    background-color: $navbar-bg !important;
    border-bottom: 1px solid #23282c !important;
}
