#userLogo
{
    font-size: 26px;
    margin-right:10px;
    color:#aeb4b9;

    &:hover{
        color:white;
        cursor: pointer;
    }
}

.mat-menu-panel {
    margin-top: 7px;
    .mat-menu-content:not(:empty)  {
        padding: 0;
    }
    .dropdown-divider{
        margin: 0;
    }
    button {
        outline: none;
    }
}