<div id="backImage">
</div>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Espressivo
  </a>
  <div class="nav navbar-nav navbar-right">
    <i [matMenuTriggerFor]="menu" class="fas fa-user-circle" id="userLogo"></i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openUserProfileModal()">
        <mat-icon>perm_identity</mat-icon>
        <span>Profile</span>
      </button>
      <div class="dropdown-divider"></div>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
</nav>

<div *ngIf="!isLoading" class="container-fluid animated fadeIn" id="mainDashboardContainer">
    <div *ngIf="tracks && tracks.length > 0 " id="carouselContainer">
      <div id="backIcon">
        <i (click)="backToMainPage()" class="fas fa-arrow-circle-left"></i>
      </div>
      <app-music-carousel  [tracks]="tracks"></app-music-carousel>
    </div>
    <div *ngIf="!tracks || tracks.length <= 0" id="configurationContainer">
      <app-configuration-page (getRecommendationEmitter)="getRecommendations($event)"></app-configuration-page>
    </div>
</div>

<div *ngIf="isLoading" id="equalizerLogo" class="equalizer">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

