<div id="backImage">

</div>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Espressivo
  </a>
  <div class="nav navbar-nav navbar-right">
    <i [matMenuTriggerFor]="menu" class="fas fa-user-circle" id="userLogo"></i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openUserProfileModal()">
        <mat-icon>perm_identity</mat-icon>
        <span>Profile</span>
      </button>
      <div class="dropdown-divider"></div>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
</nav>

<div class="container-fluid animated fadeIn" id="mainDashboardContainer">
    <div class="row">
        <button id="getRecommendations" type="button" class="btn btn-light" (click)="getRecommendations()">Get some recommendations</button>
    </div>
    <div id="carouselContainer">
      <app-music-carousel (getMoreTracksEmitter)="getRecommendations()" [tracks]="tracks"></app-music-carousel>
    </div>
</div>

<div id="equalizerLogo" class="equalizer">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="jumping-things-wrap">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<!-- <div class="music-player">
  <img src="https://images.unsplash.com/photo-1503248947681-3198a7abfcc9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9dea5064c1d0b9f8969216204ba66c73" class="album" />
  <div class="dash">
    <a href="#mute" class="fa fa-volume-up"></a>
    <span class="volume-level">
      <em style="width: 75%"></em>
    </span>
    <a href="#share" class="fa fa-share"></a>
    <a href="#love" class="fa fa-heart"></a>
    <div class="seeker">
      <div class="wheel">
        <div class="progress"></div>
      </div>
    </div>
    <a href="#seek"></a>
    <div class="controls">
      <a href="#back" class="fa fa-fast-backward"></a>
      <a href="#play" class="fa fa-pause"></a>
      <a href="#forward" class="fa fa-fast-forward"></a>
    </div>
    <div class="info">
      <i><span name="current">0:00</span> / <span name="duration">0:00</span></i>
      <label>Marteria - OMG</label>
      <small>Zum Glück in die Zukunft II</small>
    </div>
  </div>
</div> -->