// Variable overrides
$navbar-bg: #3a4149;
$body-bg:#2f353a;
$brand-dark: #3a4149;
$brand-darker: #2f353a;
$rose_quartz__2016: #F7CAC9; 
$serenity__2016: #8EA6D0; 
$marsala__2015: #965352; 
$radiant_orchid__2014: #B565A7; 
$emerald__2013: #169C78; 
$tangerine_tango__2012: #E1523D; 
$honeysuckle__2011: #DA4F70; 
$turquoise__2010: #41B6AB; 
$mimosa__2009: #F0BF59; 
$blue_iris__2008: #595CA1; 
$chili_pepper__2007: #9C1B31; 
$sand_dollar__2006: #DECDBF; 
$blue_turquoise__2005: #4FB0AE; 
$tigerlily__2004: #E4583E; 
$aqua_sky__2003: #7AC5C5; 
$true_red__2002: #C02034; 
$fuchsia_rose__2001: #C94476; 
$cerulean__2000: #9BB7D6;
$green-jade: #468966;
$yellow-bright: #FFF0A5;
$orange-light: #FFB03B;
$orange-dark: #FD7400;
$red-gentle: #B64926;
$red-light: #E74C3C;
$red-harsh: #8E2800;
$blue-navy: #2C3E50;
$white-imperfect: #ECF0F1;
$blue-sky: #3498DB;
$blue-darksky: #2980B9;
$teal: #1F8A70;
$green-hazard: #BEDB39;
$yellow-banana: #FFE11A;
$pink-hot: #F2385A;
$pink-gentle: #D95B5B;
$blue-lighter: #4AD9D9;
$blue-light: #36B1BF;
$brown-wooddark: #D95B5B;
$brown-wood: #BF8A49;
$brown-woodlight: #F2CA80;
$skin-base: #FFC794;
$skin-pale: #FADBAE;
$skin-tan1: #FFA16D;
$skin-tan2: #E87551;
$skin-tan3: #FF7865;
$purple-dark: #5C2849;
$gold-light: #FFDA66;
$gold-dark: #FFCC33;
$metal-iron: #EFEFEF;
$metal-irondark: #5F5F5F;
$metal-silver: #BFBFBF;
$metal-dark: #2F2F2F;