// Variable overrides
$navbar-bg: #3a4149;
$body-bg:#2f353a;
$brand-dark: #3a4149;
$brand-darker: #2f353a;
$rose_quartz__2016: #F7CAC9; 
$serenity__2016: #8EA6D0; 
$marsala__2015: #965352; 
$radiant_orchid__2014: #B565A7; 
$emerald__2013: #169C78; 
$tangerine_tango__2012: #E1523D; 
$honeysuckle__2011: #DA4F70; 
$turquoise__2010: #41B6AB; 
$mimosa__2009: #F0BF59; 
$blue_iris__2008: #595CA1; 
$chili_pepper__2007: #9C1B31; 
$sand_dollar__2006: #DECDBF; 
$blue_turquoise__2005: #4FB0AE; 
$tigerlily__2004: #E4583E; 
$aqua_sky__2003: #7AC5C5; 
$true_red__2002: #C02034; 
$fuchsia_rose__2001: #C94476; 
$cerulean__2000: #9BB7D6;